<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recycleradapterhelper">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">

        </activity>

        <activity android:name=".ui.activity.BaseQuickActivity"></activity>
        <activity android:name=".ui.activity.MultiPulit1Activity"></activity>

        <activity android:name=".ui.activity.MultiPulit2Activity">

        </activity>
        <activity android:name=".ui.activity.FenZu1Activity">
        </activity>
        <activity android:name=".ui.activity.FenZu2Activity">
        </activity>

        <activity android:name=".ui.activity.DragActivity">

        </activity>
        <activity android:name=".ui.activity.RefreshAndroidLoadMoreActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>